In [2]:
import pandas as pd
import os
import datetime
import time

In [3]:
xname = '2019-04-20-13-52-09.xlsx'
viname = xname.split('.')[0]+'.mp4' 
a = pd.read_excel(xname)

In [11]:
a

          Start          End Answers Hand
0           NaN  00:00:08:00     NaN  NaN
1   00:00:11:21  00:00:25:26     NaN  NaN
2           NaN  00:00:34:39     NaN  NaN
3   00:00:37:45  00:00:56:14     NaN  NaN
4           NaN  00:01:15:17     NaN  NaN
5           NaN  00:01:18:40     NaN  NaN
6           NaN  00:01:31:09     NaN  NaN
7           NaN  00:01:34:30     NaN  NaN
8           NaN  00:02:11:53      no    L
9           NaN  00:02:14:00      no  NaN
10          NaN  00:02:15:51      no  NaN
11          NaN  00:02:35:53     yes    R
12          NaN  00:02:38:08     yes  NaN
13          NaN  00:02:40:05     yes  NaN
14          NaN  00:02:55:21      no    L
15          NaN  00:02:57:13      no  NaN
16          NaN  00:02:59:21      no  NaN

In [19]:
17

False

In [51]:
x = time.strptime('00:01:00:50','%H:%M:%S:%f')
# x = time.strptime('00:01:00,000'.split(',')[0],'%H:%M:%S')
datetime.timedelta(hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds()

60.0

In [52]:
def transtime(x):
    tlist =x.split(':')
    tsecon = sum(x * float(t) for x, t in zip([3600, 60, 1, 1./60], tlist)) 
    return tsecon

In [62]:
for i in range(17):
    tstop = transtime(a['End'][i])
    if not i ==1 or i ==3:
        tstar = tstop - 1
    else:
        tstar = transtime(a['Start'][i])
    print('start:%f'%tstar)
    print('stop:%f \n'%tstop)
    comm = '/usr/bin/ffmpeg -i {} -ss {} -to {} {}.mp4'.format(viname,tstar,tstop, i)
#     !!comm

start:7.000000
stop:8.000000

start:11.350000
stop:25.433333

start:33.650000
stop:34.650000

start:55.233333
stop:56.233333

start:74.283333
stop:75.283333

start:77.666667
stop:78.666667

start:90.150000
stop:91.150000

start:93.500000
stop:94.500000

start:130.883333
stop:131.883333

start:133.000000
stop:134.000000

start:134.850000
stop:135.850000

start:154.883333
stop:155.883333

start:157.133333
stop:158.133333

start:159.083333
stop:160.083333

start:174.350000
stop:175.350000

start:176.216667
stop:177.216667

start:178.350000
stop:179.350000

In [40]:
transtime(a['End'][0])

60.833333333333336

In [64]:
!!ls

['2019-04-20-13-52-09.xlsx',
 '2019-04-20-16-49-33',
 '2019-04-20-16-49-33.mp4',
 '2019-04-20-16-49-33.xlsx',
 'splitxls.py',
 'tryitout.ipynb']